<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
	<style type="text/css">
		html, body, div, h1, h2, h3, h4, h5, h6 { margin:0; padding:0; }
	</style>
</head>

<body>
    @RenderBody()
</body>
</html>
